In [30]:
import pandas as pd

# Load the OTU abundance & taxonomy data
otu_df = pd.read_csv("Tara_OTUtableTax_80CAb.csv")

# Load the sample metadata
meta_df = pd.read_csv("Tara_SampleMeta.csv")

# Standardize column names (convert to lowercase, remove extra spaces)
otu_df.columns = otu_df.columns.str.strip().str.lower()
meta_df.columns = meta_df.columns.str.strip().str.lower()

# Rename problematic column names for consistency
meta_df.rename(columns={
    'samplingdepth[m]': 'samplingdepth',
    'latitude[degreesnorth]': 'latitude',
    'longitude[degreeseast]': 'longitude'
}, inplace=True)

# Display first few rows of each dataset
print("Top 5 values of the Meta Data dataset:")
display(meta_df.head())

print("Top 5 values of the Tara OTU table tax - 80CAb dataset:")
display(otu_df.head())

# Check distinct values in key categorical columns
for col in ['domain', 'phylum', 'class', 'order', 'family', 'genus']:
    if col in otu_df.columns:
        print(f"\nDistinct values in {col}: {otu_df[col].nunique()}")

Top 5 values of the Meta Data dataset:

,sampleid,year,month,latitude,longitude,samplingdepth,layeroforigin,marinepelagicbiomes,oceanandsearegion,marinepelagicprovince
0,TARA_004_DCM_0_22_1_6,2009,9,36.5533,-6.5669,40,DCM,Westerlies Biome,North Atlantic Ocean,North Atlantic Subtropical Gyral Province
1,TARA_004_SRF_0_22_1_6,2009,9,36.5533,-6.5669,5,SRF,Westerlies Biome,North Atlantic Ocean,North Atlantic Subtropical Gyral Province
2,TARA_007_DCM_0_22_1_6,2009,9,37.0541,1.9478,42,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
3,TARA_007_SRF_0_22_1_6,2009,9,37.0510,1.9378,5,SRF,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
4,TARA_009_DCM_0_22_1_6,2009,9,39.0609,5.9422,55,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"

Top 5 values of the Tara OTU table tax - 80CAb dataset:

,domain,phylum,class,order,family,genus,otu_rep,tara_018_dcm_0_22_1_6,tara_018_srf_0_22_1_6,tara_023_dcm_0_22_1_6,...,tara_085_mes_0_22_3,tara_085_srf_0_22_3,tara_093_dcm_0_22_3,tara_093_srf_0_22_3,tara_094_srf_0_22_3,tara_096_srf_0_22_3,tara_098_dcm_0_22_3,tara_098_mes_0_22_3,tara_098_srf_0_22_3,tara_099_srf_0_22_3
0,undef,undef,undef,undef,undef,undef,unclassified,4.400259,3.976295,4.021928,...,4.728833,4.147903,1.208198,0.911905,1.829139,2.997120,6.606668,8.807279,2.899934,2.876148
1,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,AACY024102418_157_1623,0.880742,1.008665,0.661216,...,0.030721,0.001225,0.173749,0.191803,2.128909,2.402813,0.724638,0.132403,2.046687,1.890367
2,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,KC003383_1_1321,2.326504,1.930531,0.514279,...,0.000000,0.000000,0.013943,0.131234,0.848433,0.722964,2.298567,0.001991,0.594645,1.132555
3,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,EU394547_1_1451,0.521889,0.680175,1.917715,...,0.028527,0.000000,1.428602,1.316823,0.896177,0.685683,0.675324,0.230958,0.517203,0.502779
4,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,X52169_1_1473,3.265905,2.747639,0.423857,...,0.000000,0.000000,0.008580,0.111044,1.120808,0.858200,1.239692,0.000000,0.103717,0.550663

Distinct values in domain: 3

Distinct values in phylum: 14

Distinct values in class: 31

Distinct values in order: 57

Distinct values in family: 83

Distinct values in genus: 97

In [15]:
# Define columns to keep (excluding unnecessary ones)
columns_to_keep = ['domain', 'phylum', 'class', 'order', 'family', 'genus', 'otu_rep']

# Extract only required columns while keeping sample data
otu_df_filtered = otu_df[columns_to_keep + [col for col in otu_df.columns if col not in columns_to_keep]]

# Display filtered data
print("Filtered OTU Table:")
display(otu_df_filtered.head())

# Display remaining unique microbial classes
if 'class' in otu_df_filtered.columns:
    print("\nUnique Microbial Classes Remaining:")
    display(pd.DataFrame(otu_df_filtered['class'].unique(), columns=['Unique Classes']))
else:
    print("\nColumn 'class' not found in the dataset!")

Filtered OTU Table:

,domain,phylum,class,order,family,genus,otu_rep,tara_018_dcm_0_22_1_6,tara_018_srf_0_22_1_6,tara_023_dcm_0_22_1_6,...,tara_085_mes_0_22_3,tara_085_srf_0_22_3,tara_093_dcm_0_22_3,tara_093_srf_0_22_3,tara_094_srf_0_22_3,tara_096_srf_0_22_3,tara_098_dcm_0_22_3,tara_098_mes_0_22_3,tara_098_srf_0_22_3,tara_099_srf_0_22_3
0,undef,undef,undef,undef,undef,undef,unclassified,4.400259,3.976295,4.021928,...,4.728833,4.147903,1.208198,0.911905,1.829139,2.997120,6.606668,8.807279,2.899934,2.876148
1,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,AACY024102418_157_1623,0.880742,1.008665,0.661216,...,0.030721,0.001225,0.173749,0.191803,2.128909,2.402813,0.724638,0.132403,2.046687,1.890367
2,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,KC003383_1_1321,2.326504,1.930531,0.514279,...,0.000000,0.000000,0.013943,0.131234,0.848433,0.722964,2.298567,0.001991,0.594645,1.132555
3,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,EU394547_1_1451,0.521889,0.680175,1.917715,...,0.028527,0.000000,1.428602,1.316823,0.896177,0.685683,0.675324,0.230958,0.517203,0.502779
4,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,X52169_1_1473,3.265905,2.747639,0.423857,...,0.000000,0.000000,0.008580,0.111044,1.120808,0.858200,1.239692,0.000000,0.103717,0.550663

Unique Microbial Classes Remaining:

              Unique Classes
0                      undef
1        Alphaproteobacteria
2              Cyanobacteria
3        Deltaproteobacteria
4        Gammaproteobacteria
5            Deferribacteres
6             Thermoplasmata
7             Marine Group I
8           Planctomycetacia
9             Acidimicrobiia
10             Flavobacteria
11               Chloroplast
12                 ARKICE-90
13                Cytophagia
14              SAR202 clade
15        Betaproteobacteria
16            Spartobacteria
17  Arctic97B-4 marine group
18              Elev-16S-509
19            Actinobacteria
20                  Opitutae
21          Verrucomicrobiae
22                AEGEAN-245
23          Gemmatimonadetes
24                 Skagenf62
25                Nitrospira
26                      TA18
27                 ML635J-21
28              Halobacteria
29                   Sc-EA05
30               Subgroup 26

In [16]:
# Transpose the dataframe to have sample IDs as columns
otu_transposed_df = otu_df_filtered.set_index(['domain', 'phylum', 'class', 'order', 'family', 'genus', 'otu_rep']).T

# Reset index to bring sample IDs into a column
otu_transposed_df.reset_index(inplace=True)

# Rename index column to 'sampleid'
otu_transposed_df.rename(columns={'index': 'sampleid'}, inplace=True)

# Display transposed table
print("Transposed OTU Table:")
display(otu_transposed_df.head())

# Display all sample IDs
print("\nAll Sample IDs:")
display(pd.DataFrame(otu_transposed_df['sampleid'].unique(), columns=['Sample IDs']))

Transposed OTU Table:

domain                sampleid        undef                Bacteria  \
phylum                                undef          Proteobacteria
class                                 undef     Alphaproteobacteria
order                                 undef        Rhodospirillales
family                                undef       Rhodospirillaceae
genus                                 undef AEGEAN-169 marine group
otu_rep                        unclassified  AACY024102418_157_1623
0        tara_018_dcm_0_22_1_6     4.400259                0.880742
1        tara_018_srf_0_22_1_6     3.976295                1.008665
2        tara_023_dcm_0_22_1_6     4.021928                0.661216
3        tara_023_srf_0_22_1_6     3.670448                1.252633
4        tara_025_dcm_0_22_1_6     4.819140                0.527206

domain                                                           \
phylum    Cyanobacteria          Proteobacteria   Cyanobacteria
class     Cyanobacteria     Alphaproteobacteria   Cyanobacteria
order       SubsectionI        Rhodospirillales     SubsectionI
family          FamilyI       Rhodospirillaceae         FamilyI
genus   Prochlorococcus AEGEAN-169 marine group Prochlorococcus
otu_rep KC003383_1_1321         EU394547_1_1451   X52169_1_1473
0              2.326504                0.521889        3.265905
1              1.930531                0.680175        2.747639
2              0.514279                1.917715        0.423857
3              0.169974                1.035855        0.252497
4              2.151126                1.139013        1.818913

domain                                                \
phylum                                Proteobacteria
class                            Deltaproteobacteria
order                   SAR324 clade(Marine group B)
family                    Deltaproteobacteria(undef)
genus                     Deltaproteobacteria(undef)
otu_rep EU802966_1_1361              EU802925_1_1450
0              0.457192                     0.684926
1              0.469912                     0.541746
2              0.133750                     0.173310
3              0.141645                     0.277131
4              0.486969                     0.502445

domain                                              ...                      \
phylum                               Cyanobacteria  ...      Proteobacteria
class          Alphaproteobacteria   Cyanobacteria  ... Deltaproteobacteria
order                  SAR11 clade     SubsectionI  ...   Desulfobacterales
family                   Surface 1         FamilyI  ...      Nitrospinaceae
genus   Alphaproteobacteria(undef) Prochlorococcus  ...          Nitrospina
otu_rep            AY664224_1_1233 GU940990_1_1405  ...     HQ672697_1_1481
0                         0.419237        0.516713  ...            0.000000
1                         0.463178        0.454947  ...            0.001497
2                         0.535001        0.122447  ...            0.001884
3                         0.801833        0.059121  ...            0.001232
4                         0.372449        0.462208  ...            0.010317

domain                                                     \
phylum
class          Alphaproteobacteria    Gammaproteobacteria
order                  SAR11 clade        Alteromonadales
family  Alphaproteobacteria(undef) Pseudoalteromonadaceae
genus   Alphaproteobacteria(undef)      Pseudoalteromonas
otu_rep            HQ672632_1_1445        EU136629_1_1439
0                         0.003451               0.000863
1                         0.008979               0.000000
2                         0.003768               0.054630
3                         0.003695               0.027097
4                         0.002063               0.021666

domain                                                                         \
phylum                               Cyanobacteria             Proteobacteria
class          Alphaproteobacteria   Cyanobacteria        Gammaproteobacteria
order                  SAR11 clade     SubsectionI          Oceanospirillales
family  Alphaproteobacteria(undef)         FamilyI                 JL-ETNP-Y6
genus   Alphaproteobacteria(undef)   Synechococcus Gammaproteobacteria(undef)
otu_rep            EU802485_1_1489 EU015871_1_1570            FJ825854_1_1399
0                         0.019840        0.001725                   0.000000
1                         0.007483        0.000748                   0.000000
2                         0.001884        0.009419                   0.007535
3                         0.004927        0.009854                   0.000000
4                         0.005159        0.011349                   0.001032

domain                                                         \
phylum
class          Alphaproteobacteria
order                Rickettsiales
family                     S25-593               SAR116 clade
genus   Alphaproteobacteria(undef) Alphaproteobacteria(undef)
otu_rep            EU802477_1_1378            HQ673528_1_1465
0                         0.003451                        0.0
1                         0.005238                        0.0
2                         0.009419                        0.0
3                         0.017244                        0.0
4                         0.005159                        0.0

domain
phylum                                  Cyanobacteria
class                                     Chloroplast
order                  SAR11 clade Chloroplast(undef)
family                   Surface 1 Chloroplast(undef)
genus   Alphaproteobacteria(undef) Chloroplast(undef)
otu_rep            HQ673625_1_1258    HQ242075_1_1337
0                         0.002588           0.002588
1                         0.005986           0.000000
2                         0.015070           0.005651
3                         0.001232           0.001232
4                         0.036110           0.003095

[5 rows x 1401 columns]

All Sample IDs:

                Sample IDs
0    tara_018_dcm_0_22_1_6
1    tara_018_srf_0_22_1_6
2    tara_023_dcm_0_22_1_6
3    tara_023_srf_0_22_1_6
4    tara_025_dcm_0_22_1_6
..                     ...
130    tara_096_srf_0_22_3
131    tara_098_dcm_0_22_3
132    tara_098_mes_0_22_3
133    tara_098_srf_0_22_3
134    tara_099_srf_0_22_3

[135 rows x 1 columns]

In [17]:
# Melt the OTU table to transform sample IDs from columns to rows
otu_long_df = otu_df_filtered.melt(
    id_vars=['domain', 'phylum', 'class', 'order', 'family', 'genus', 'otu_rep'],
    var_name='sampleid',
    value_name='abundance'
)

# Convert sampleid to lowercase
otu_long_df['sampleid'] = otu_long_df['sampleid'].astype(str).str.lower()

# Display the reshaped OTU table
print("Melted OTU Table (Long Format):")
display(otu_long_df)

Melted OTU Table (Long Format):

,domain,phylum,class,order,family,genus,otu_rep,sampleid,abundance
0,undef,undef,undef,undef,undef,undef,unclassified,tara_018_dcm_0_22_1_6,4.400259
1,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,AACY024102418_157_1623,tara_018_dcm_0_22_1_6,0.880742
2,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,KC003383_1_1321,tara_018_dcm_0_22_1_6,2.326504
3,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,EU394547_1_1451,tara_018_dcm_0_22_1_6,0.521889
4,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,X52169_1_1473,tara_018_dcm_0_22_1_6,3.265905
...,...,...,...,...,...,...,...,...,...
188995,Bacteria,Proteobacteria,Gammaproteobacteria,Oceanospirillales,JL-ETNP-Y6,Gammaproteobacteria(undef),FJ825854_1_1399,tara_099_srf_0_22_3,0.000000
188996,Bacteria,Proteobacteria,Alphaproteobacteria,Rickettsiales,S25-593,Alphaproteobacteria(undef),EU802477_1_1378,tara_099_srf_0_22_3,0.005205
188997,Bacteria,Proteobacteria,Alphaproteobacteria,Rickettsiales,SAR116 clade,Alphaproteobacteria(undef),HQ673528_1_1465,tara_099_srf_0_22_3,0.000000
188998,Bacteria,Proteobacteria,Alphaproteobacteria,SAR11 clade,Surface 1,Alphaproteobacteria(undef),HQ673625_1_1258,tara_099_srf_0_22_3,0.001041
188999,Bacteria,Cyanobacteria,Chloroplast,Chloroplast(undef),Chloroplast(undef),Chloroplast(undef),HQ242075_1_1337,tara_099_srf_0_22_3,0.005205

In [18]:
# Convert sample IDs to lowercase for consistency
meta_df['sampleid'] = meta_df['sampleid'].astype(str).str.lower()

# Merge the long-format OTU table with metadata
merged_df = pd.merge(otu_long_df, meta_df, on="sampleid", how="inner")

# Display merged dataset preview
print("Merged DataFrame:")
display(merged_df)

# Display final shape of the merged dataset
print("\nShape of Merged DataFrame:", merged_df.shape)

Merged DataFrame:

,domain,phylum,class,order,family,genus,otu_rep,sampleid,abundance,year,month,latitude,longitude,samplingdepth,layeroforigin,marinepelagicbiomes,oceanandsearegion,marinepelagicprovince
0,undef,undef,undef,undef,undef,undef,unclassified,tara_018_dcm_0_22_1_6,4.400259,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
1,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,AACY024102418_157_1623,tara_018_dcm_0_22_1_6,0.880742,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
2,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,KC003383_1_1321,tara_018_dcm_0_22_1_6,2.326504,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
3,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,EU394547_1_1451,tara_018_dcm_0_22_1_6,0.521889,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
4,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,X52169_1_1473,tara_018_dcm_0_22_1_6,3.265905,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188995,Bacteria,Proteobacteria,Gammaproteobacteria,Oceanospirillales,JL-ETNP-Y6,Gammaproteobacteria(undef),FJ825854_1_1399,tara_099_srf_0_22_3,0.000000,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
188996,Bacteria,Proteobacteria,Alphaproteobacteria,Rickettsiales,S25-593,Alphaproteobacteria(undef),EU802477_1_1378,tara_099_srf_0_22_3,0.005205,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
188997,Bacteria,Proteobacteria,Alphaproteobacteria,Rickettsiales,SAR116 clade,Alphaproteobacteria(undef),HQ673528_1_1465,tara_099_srf_0_22_3,0.000000,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
188998,Bacteria,Proteobacteria,Alphaproteobacteria,SAR11 clade,Surface 1,Alphaproteobacteria(undef),HQ673625_1_1258,tara_099_srf_0_22_3,0.001041,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
188999,Bacteria,Cyanobacteria,Chloroplast,Chloroplast(undef),Chloroplast(undef),Chloroplast(undef),HQ242075_1_1337,tara_099_srf_0_22_3,0.005205,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."

Shape of Merged DataFrame: (189000, 18)

In [19]:
# Dropping rows where 'class' is 'undef' (case-insensitive)
merged_df = merged_df[merged_df['class'].str.lower() != 'undef']

# Convert SamplingDepth to numeric (if needed)
merged_df['samplingdepth'] = pd.to_numeric(merged_df['samplingdepth'], errors='coerce')

# Drop any remaining missing values
merged_df = merged_df.dropna()

# Display cleaned data
print("Cleaned Merged DataFrame:")
display(merged_df)

# Display final shape after cleaning
print("\nShape of Cleaned Merged DataFrame:", merged_df.shape)

Cleaned Merged DataFrame:

,domain,phylum,class,order,family,genus,otu_rep,sampleid,abundance,year,month,latitude,longitude,samplingdepth,layeroforigin,marinepelagicbiomes,oceanandsearegion,marinepelagicprovince
1,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,AACY024102418_157_1623,tara_018_dcm_0_22_1_6,0.880742,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
2,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,KC003383_1_1321,tara_018_dcm_0_22_1_6,2.326504,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
3,Bacteria,Proteobacteria,Alphaproteobacteria,Rhodospirillales,Rhodospirillaceae,AEGEAN-169 marine group,EU394547_1_1451,tara_018_dcm_0_22_1_6,0.521889,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
4,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,X52169_1_1473,tara_018_dcm_0_22_1_6,3.265905,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
5,Bacteria,Cyanobacteria,Cyanobacteria,SubsectionI,FamilyI,Prochlorococcus,EU802966_1_1361,tara_018_dcm_0_22_1_6,0.457192,2009,11,35.7528,14.2765,60,DCM,Westerlies Biome,Mediterranean Sea,"Mediterranean Sea, Black Sea Province"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188995,Bacteria,Proteobacteria,Gammaproteobacteria,Oceanospirillales,JL-ETNP-Y6,Gammaproteobacteria(undef),FJ825854_1_1399,tara_099_srf_0_22_3,0.000000,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
188996,Bacteria,Proteobacteria,Alphaproteobacteria,Rickettsiales,S25-593,Alphaproteobacteria(undef),EU802477_1_1378,tara_099_srf_0_22_3,0.005205,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
188997,Bacteria,Proteobacteria,Alphaproteobacteria,Rickettsiales,SAR116 clade,Alphaproteobacteria(undef),HQ673528_1_1465,tara_099_srf_0_22_3,0.000000,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
188998,Bacteria,Proteobacteria,Alphaproteobacteria,SAR11 clade,Surface 1,Alphaproteobacteria(undef),HQ673625_1_1258,tara_099_srf_0_22_3,0.001041,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."
188999,Bacteria,Cyanobacteria,Chloroplast,Chloroplast(undef),Chloroplast(undef),Chloroplast(undef),HQ242075_1_1337,tara_099_srf_0_22_3,0.005205,2011,4,-21.1460,-104.7870,5,SRF,Trades Biome,South Pacific Ocean,"South Pacific Subtropical Gyre Province, North..."

Shape of Cleaned Merged DataFrame: (188865, 18)

In [20]:
# Check data types of all columns
print("\nData Types of Merged DataFrame:")
print(merged_df.dtypes)

# Summary statistics of numeric columns
print("\nSummary Statistics:")
display(merged_df.describe())

Data Types of Merged DataFrame:
domain                    object
phylum                    object
class                     object
order                     object
family                    object
genus                     object
otu_rep                   object
sampleid                  object
abundance                float64
year                       int64
month                      int64
latitude                 float64
longitude                float64
samplingdepth              int64
layeroforigin             object
marinepelagicbiomes       object
oceanandsearegion         object
marinepelagicprovince     object
dtype: object

Summary Statistics:

,abundance,year,month,latitude,longitude,samplingdepth
count,188865.000000,188865.000000,188865.000000,188865.000000,188865.000000,188865.000000
mean,0.053360,2010.533333,6.229630,1.400931,-36.866504,156.548148
std,0.123554,0.841518,3.521248,27.866734,68.275525,260.078361
min,0.000000,2009.000000,1.000000,-62.223100,-159.046000,5.000000
25%,0.001052,2010.000000,3.000000,-21.029200,-95.975900,5.000000
50%,0.015456,2011.000000,6.000000,0.003300,-43.270500,30.000000
75%,0.057984,2011.000000,9.000000,31.516800,26.290500,125.000000
max,7.913644,2012.000000,12.000000,43.718200,73.906700,1000.000000

In [21]:
import altair as alt
from vega_datasets import data

# Ensure numerical and categorized columns
merged_df['samplingdepth'] = pd.to_numeric(merged_df['samplingdepth'], errors='coerce')
merged_df['abundance'] = pd.to_numeric(merged_df['abundance'], errors='coerce')


# --------------------------- UNIVERSAL LEGEND (SINGLE) ---------------------------
# Create interactive selections
class_selection = alt.selection_point(fields=['class'], bind='legend')
location_selection = alt.selection_point(fields=['latitude', 'longitude'], bind='legend')
region_selection = alt.selection_point(fields=['oceanandsearegion'], bind='legend')

# Define a common color scheme for microbial classes with a single universal legend
color_encoding = alt.Color('class:N', legend=alt.Legend(title='Classes', orient='top', columns=10), scale=alt.Scale(scheme='category20'))

In [22]:
# --------------------------- VIEW 1: MICROBIOME BAR CHART (STACKED WITH LABELS) ---------------------------
region_abundance = merged_df.groupby(['class', 'oceanandsearegion'], as_index=False)['abundance'].sum()

bars = alt.Chart(region_abundance).mark_bar().encode(
    x=alt.X('sum(abundance):Q', stack='zero', title="Total Abundance"),
    y=alt.Y('oceanandsearegion:N', title="Ocean and Sea Region"),
    color=color_encoding,
    tooltip=['oceanandsearegion', 'class', 'sum(abundance)']
).transform_filter(class_selection)

bar_chart = bars.properties(
    width=800,
    height=400,
    title="Abundance in Ocean and Sea Regions Varying by Class"
)

In [23]:
# --------------------------- VIEW 2: GEOGRAPHIC DISTRIBUTION (MAP VIEW) ---------------------------
countries = alt.topo_feature(data.world_110m.url, 'countries')

background = alt.Chart(countries).mark_geoshape(
    fill='lightgray',
    stroke='white'
).properties(
    width=1000,
    height=500
).project('equirectangular')

scatter = alt.Chart(merged_df).mark_circle().encode(
    longitude='longitude:Q',
    latitude='latitude:Q',
    size=alt.Size('abundance:Q', legend=None),
    color=color_encoding,
    tooltip=['oceanandsearegion:N', 'class', 'abundance'],
    opacity=alt.condition(class_selection, alt.value(1.0), alt.value(0))
).properties(
    width=1000,
    title='Class microbes presence in ocean and sea regions with abundance'
).add_params(class_selection)

geo_chart = alt.layer(background, scatter)

In [24]:
# --------------------------- VIEW 3: MICROBIOME SCATTER PLOT WITH LOESS TREND ---------------------------
expanded_trend_data = merged_df[['class', 'samplingdepth', 'abundance']].dropna()

sample_size = min(len(expanded_trend_data), 3000)  # Max 3000 points for better performance
trend_data_sample = expanded_trend_data.sample(sample_size, random_state=42)

scatter_plot = alt.Chart(trend_data_sample).mark_circle(opacity=0.6, size=30).encode(
    x=alt.X('samplingdepth:Q', title='Sampling Depth (m)', scale=alt.Scale(zero=False)),
    y=alt.Y('abundance:Q', title='Microbial Abundance', scale=alt.Scale(zero=False, padding=1)),
    color=color_encoding,
    tooltip=['class:N', 'samplingdepth:Q', 'abundance:Q']
).add_params(class_selection).transform_filter(class_selection)

loess_lines = scatter_plot.transform_loess(
    'samplingdepth', 'abundance', groupby=['class'], bandwidth=0.5
).mark_line(size=3, opacity=0.8).encode(
    color=color_encoding
)

abundance_trend_chart = (scatter_plot + loess_lines).properties(
    width=1000, height=400,
    title="Trends in Microbial Abundance Across Depths"
)

In [25]:
# --------------------------- TIME SERIES ANALYSIS (WITH AVERAGE ABUNDANCE ON Y-AXIS) ---------------------------
# 🔹 Aggregate data to get average abundance per year per class
time_series_data = (
    merged_df.groupby(['year', 'class'], as_index=False)['abundance'].mean()
)

# 🔹 Limit dataset to 1000 points (to improve rendering)
time_series_data = time_series_data.sample(min(1000, len(time_series_data)), random_state=42)

time_series = alt.Chart(time_series_data).mark_area().encode(
    x=alt.X('year:O', title='Year'),
    y=alt.Y('average(abundance):Q', title="Average Abundance"),
    color=color_encoding,
    tooltip=['year:O', 'class', 'average(abundance):Q']
).properties(
    width=800, height=400,
    title='Microbial Abundance Trends Over Years (Averaged)'
).transform_filter(class_selection)

In [26]:
# --------------------------- VIEW 3: MICROBIOME SCATTER PLOT WITH HREF ---------------------------
# 🔹 Generate a Google search URL for each microbial class
scatter_href = alt.Chart(merged_df).transform_calculate(
    
).mark_point(size=100, opacity=0.8).encode(
    x=alt.X('average(abundance):Q', title='Average Abundance'),
    y=alt.Y('class:N', title='Microbial Class'),
    color=color_encoding,
    href='url:N',
    tooltip=['class:N', 'abundance', 'sampleid', 'url:N']
).properties(
    width=600,
    height=400,
    title='Comparing Average Abundance with Class Abundance'
).transform_filter(class_selection)

In [29]:
# --------------------------- ADD DASHBOARD TITLE ---------------------------

# Create a title using Altair text mark
dashboard_title = alt.Chart(pd.DataFrame({'text': ["🌊 Ocean Microbiome: Interactive Exploration Dashboard 🌍"]})).mark_text(
    align='center', fontSize=24, fontWeight='bold', color='darkblue'
).encode(
    text='text:N'
).properties(
    width=1400, height=50
)

# --------------------------- ADD NOTE BELOW LEGEND ---------------------------

note_text = alt.Chart(pd.DataFrame({'text': ["🔹 Click on a classes to update all views dynamically!"]})).mark_text(
    align='center', fontSize=14, fontWeight='bold', color='darkred'
).encode(
    text='text:N'
).properties(
    width=1400, height=30
)

In [28]:
# First Row: Title
title_row = dashboard_title
# Second Row: Abundance Trend Chart & Bar Chart (Smaller for screen fit)
top_row = (abundance_trend_chart.properties(width=650, height=350) | 
           bar_chart.properties(width=650, height=350))

# Third Row: Larger Geo Chart 
middle_row = geo_chart.properties(width=1400, height=600)  # Increased for better visibility

# Fourth Row: Time Series & Scatter Plot with Href (Balanced size)
bottom_row = (time_series.properties(width=500, height=350) | 
              scatter_href.properties(width=700, height=350))

# Combine all sections
final_dashboard = (title_row & note_text & top_row & middle_row & bottom_row)

# Save the dashboard as an interactive HTML file
final_dashboard.save("dashboard.html")

print("✅ Open 'dashboard.html' to view it.")

✅ Open 'dashboard.html' to view it.